.home {
  display: grid;
  place-content: center;

  justify-items: center;
  gap: 1em;
  


  &-name {
    font-size: 2rem;
    font-weight: 200;
  }

  &-title,
  &-description {
    text-align: center;
  }

  &-description {
    font-weight: 200;
  }
}
