.filter {
  &-section {
    display: grid;
    gap: 1em;

    margin-bottom: 0;
  }

  &-control {
    display: grid;
    gap: 0.5em;
  }

  &-label {
    margin-bottom: 0;
    cursor: pointer;
  }

  &-input[type='range'],
  &-select {
    margin: 0;
    cursor: pointer;
  }
}
